.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Letter {
  height: 80px;
  width: 65px;
  margin: 2px;
}

.Button,
.Letter,
.Box {
  height: 60px;
  width: 40px;
  margin: 2px;
}

.Button {
  height: 60px;
  width: 60px;
}

.Row {
  display: flex;
  justify-content: center;
}

.Box {
  width: 60px;
  border-color: #282c34;
  border-width: 1px;
  background-color: transparent;
  border-style: solid;
  float: left;
  text-align: center;
  line-height: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
}

.Game {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Keyboard {
  margin-top: 30px;
}